[Desktop Entry]
Type=Application
Exec=/home/[username]/tablet-rotate.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Tablet Auto-Rotate
